//- bootstrap
link(rel="stylesheet", href="/stoge/css/libs/bootstrap/bootstrap.css")
link(rel="stylesheet", href="/stoge/css/libs/bootstrap/bootstrap.css.map")
link(rel="stylesheet", href="/stoge/css/libs/bootstrap/bootstrap.min.css")
link(rel="stylesheet", href="/stoge/css/libs/bootstrap/bootstrap.min.css.map")


//- fontawesome
link(rel="stylesheet", href="/stoge/css/libs/fontawesome/all.css")
link(rel="stylesheet", href="/stoge/css/libs/fontawesome/all.min.css")
link(rel="stylesheet", href="/stoge/css/libs/fontawesome/normalize.css")

//- style
link(rel="stylesheet", href="/dist/css/main.css")